.sidebarRow{
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;

}
.sidebarRow:hover{
    background-color:rgba(74, 122, 255, 0.15);
    border-radius: 15px;
}
.sidebarRow > h4{
    margin-left: 20px;
    font-weight: 600;
    font-family: 'Noto Sans', sans-serif;
}
.sidebarRow > svg{
    font-size: 32px;
}